/* Your application styles go here */
.bar-app .title {
    color: #fff !important;
}
.bar-app {
    border-color: #b2b2b2;
    background-color: #E91E63 !important;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #fff;
}
  .tabs{
    background: #747474 !important;
    color: #fff !important;
  }

   .test-open-class {
            display: block;
        }
        .test-close-class {
            display: none;
        }
.tabs{
position: absolute !important;
}
/*Custom Color*/
.button.button-grey {
    border-color: #585858;
    background-color: #585858;
    color: #fff; }
    .button.button-grey:hover {
      color: #fff;
      text-decoration: none; }
    .button.button-grey.active, .button.button-grey.activated {
      border-color: #585858;
      background-color: #686868;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
    .button.button-grey.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #585858; }
    .button.button-grey.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-grey.button-outline {
      border-color: #585858;
      background: transparent;
      color: #585858; }
      .button.button-grey.button-outline.active, .button.button-grey.button-outline.activated {
        background-color: #585858;
        box-shadow: none;
        color: #fff; }

/*End*/

.light{
	background-color: #2E2E31;
}

.linegrey{

	background-color: #2E2E31;
	border:none;
	border-bottom: 1px solid #8DB4B4;
}

.top180{
	margin-top: 180px;
}

input.white{
	color:#fff;
	font-size:18px;
}

.right8{
	right: 8px;
}

.light-grey{
	background-color: #EDEBEE;
	border:0px;
}

.line-light-grey{
	background-color: #EDEBEE;
	border:none;
	border-bottom: 1px solid #8DB4B4;
}

.bottommsg{
	position: absolute !important;
	bottom:52px;
	width: 100%;
}

.divsend{
	background-color:#D5D5D9;
	margin-left: 7px;
}

.iconsend{
	font-size: 18px;
}

.width70{
	width: 75%;
	margin-right:0px; 
}

.log{
	text-align:center;
	font-size: 13px;
	color: #8A8A8A;
	padding: 7px 14px 7px 14px;

}

.message{
	padding: 7px 14px 7px 14px;
    font-size: 16px;
}

.nopadtop{
padding-top: 0px;
}

.content{
	bottom:68px;
}
.scroll-content {
  position: absolute;
  top: 24px !important;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin-top: -1px;
  padding-top: 1px;
  margin-bottom: -1px;
  width: auto;
  height: auto;
  }
