
      	<div class="row">
      		<div class="input-field col s12">
      			<i class="material-icons prefix" data-ng-if="iconPrefixDefined()">{{iconPrefix}}</i>
      			<input type="text" auto-complete-view-value="{{property}}" validate-obj="{{validadeObject}}" data-ng-model="model" class="autocomplete"
      				data-ng-change="modelChanged(model)" />
      			<label for="autocomplete-input">{{label}}</label>
      			<ul class="autocomplete-content dropdown-content">
      				<li data-ng-repeat="item in items track by $index" data-ng-if="match(item[property], model) && !closed" data-ng-click="select(item, model)">
      					<span>
                     <!--<span class="highlight">{{item[property]}}</span>--> {{item[property]}}
      					<!--<span class="highlight">{{ buildItemDescription(item[property], model, true) }}</span>{{ buildItemDescription(item[property], model, false) }}-->
      					</span>
      				</li>
      			</ul>
      		</div>
      	</div>

