<ion-view view-title="Post Task">
  <ion-content>
    <div class="row">
      <form class="col s12">
        <auto-complete model="vm.postTaskInfo.Title" func="vm.getCategories" property="title" label="Task Title"></auto-complete>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="task_desc" class="materialize-textarea"></textarea>

            <label for="task_desc">Task Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="location" vs-google-autocomplete ng-model="posttaskvm.locAddress.name" vs-place="posttaskvm.locAddress.place" vs-latitude="posttaskvm.locAddress.components.location.lat"
              vs-longitude="posttaskvm.locAddress.components.location.long" type="text" name="address" id="address" class="form-control"
              >
               <label for="location">Location</label>

          </div>
        </div>


      </form>
    </div>

    </div>
    </div>

    <button class="button button-large button-dark" ng-click="vm.doPostTask()">Post Task</button>

    </div>
  </ion-content>
</ion-view>
