<ion-view view-title="Change Password">
  <ion-content>
<div class="row signup">
  <form class="col s12" method="post">
            <div class='row rowContent'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row rowContent'>
              <div class='input-field col s12'>
                <input class='validate' type='text' ng-model="vm.password" name='name' id='name' />
                <label for='name'>Enter Password</label>
              </div>
            </div>

             <div class='row rowContent'>
              <div class='input-field col s12'>
                <input class='validate' type='text' ng-model="vm.password" name='name' id='name' />
                <label for='name'>Re-enter Password</label>
              </div>
            </div>
           
            <br />

            <center>
              <div class='row'>
                <button type='submit' name='btn_changepwd' ng-click="vm.ChangePwdCall()" class='col s12 btn btn-large waves-effect indigo'>Change Password</button>
              </div>
            </center>
          </form>
        </div>
      </div>

    </center>
</div>

</ion-content>
</ion-view>
  

